@{
    ViewBag.Title = "Dados de Assistência Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("MenuDadosAssistenciaTecnica")

<p>
<h4>Selecione uma das opções do menu acima.</h4>