<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">MANUTENÇÃO</li>
    <li>
        @Html.ActionLink("Ações", "ListaAcoes", "GEP",
            null,
            new { @class = "acao_02", @title = "Clique aqui para abrir o cadastro de ações." })
    </li>
</ul>