@{
    ViewBag.Title = "";

    MvcAppHylinedoBrasilMobile.Models.HLBAPPEntities hlbapp = new MvcAppHylinedoBrasilMobile.Models.HLBAPPEntities();

    int id = Convert.ToInt32(Session["idSelecionado"]);
    
    string descricao = "";
    MvcAppHylinedoBrasilMobile.Models.GEP_Acao acaoObj =
        hlbapp.GEP_Acao.Where(w => w.ID == id).FirstOrDefault();
    if (acaoObj != null)
    {
        descricao = acaoObj.Acao;
    }
}

<br />
<h4 style="color:red;">@Html.Raw(ViewBag.Erro)</h4>
<h4 style="color:blue;">@Html.Raw(ViewBag.Mensagem)</h4>

<h1 style="color:red; background-color:Yellow">
        * CONFIRMA A EXCLUSÃO DA AÇÃO @(descricao)???
</h1>
<br />
@using (Html.BeginForm("ListaAcoes", "GEP", FormMethod.Post))
{
    <input type="submit" value="Não" />
}

@using (Html.BeginForm("DeleteAcao", "GEP", FormMethod.Post))
{
    <input type="submit" value="Sim" />
}
