<html>
    <head>
        <meta http-equiv="refresh" content="3;@Url.Action("ListaAcoes","GEP")" />
    </head>
    <body>
        <br />
        <br />
        <br />
        <div align="center">
            <h4 style="color:blue;">@Html.Raw(ViewBag.Mensagem)</h4>
            <img src="../../Content/icons/ajax-loading.gif" />
        </div>
    </body>
</html>