<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="19.1.0" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Office.Excel" version="14.0.4760.1000" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Access" version="15.0.4420.1017" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Excel" version="14.0.0.1" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1004" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1018" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Word" version="12.0.4518.1014" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="NetOffice.Core" version="1.7.4.11" targetFramework="net40" />
  <package id="NetOffice.Word" version="1.7.4.11" targetFramework="net40" />
  <package id="sautinsoft.exceltopdf" version="5.4.1.20" targetFramework="net40" />
</packages>