<ul id="menu2">
    @*<li>@Html.ActionLink("Importação da planilha para CHIC", "Index", "ImportaPedidosCHIC")</li>*@
    <li>@Html.ActionLink("Confirmação", "Confirmacoes", "ImportaPedidosCHIC")</li>
    <li>@Html.ActionLink("Importação do CHIC para Sistemas", "AtualizaPedidoSistemasIndex", "ImportaPedidosCHIC")</li>
</ul>

