<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">RDV - Aprovação</li>
    <li>
        @Html.ActionLink("RDVs para Aprovação", "ListaRDVParaAprovacao", "RDV", 
            null,
            new { @class = "rdv", @title = "Clique aqui para Listar os RDVs para Aprovação" })
    </li>
</ul>