@{
    Layout = null;
}

<ul id="menu2">
    <li>@Html.ActionLink("Mensal", "IncubatoriosMensal", "DashBoardProduction")</li>
    <li>@Html.ActionLink("Semanal", "IncubatoriosSemanal", "DashBoardProduction")</li>
    <li>@Html.ActionLink("Diário", "IncubatoriosDiario", "DashBoardProduction")</li>
</ul>
