@{
    Layout = null;
}

<ul id="menu2">
    <li>@Html.ActionLink("Mensal", "GranjasMensal2", "DashBoardProduction")</li>
    <li>@Html.ActionLink("Semanal", "GranjasSemanal", "DashBoardProduction")</li>
    <li>@Html.ActionLink("Diário", "GranjasDiario", "DashBoardProduction")</li>
    <li>@Html.ActionLink("Tabela Produção Diária", "TabelaProducao", "DashBoardProduction", null, new { target = "_blank"})</li>
</ul>
