@{
    Layout = null;
}

<ul id="menu2">
    <li>@Html.ActionLink("Granjas", "GranjasMensal2", "DashBoardProduction")</li>
    <li>@Html.ActionLink("Incubatórios", "IncubatoriosMensal", "DashBoardProduction")</li>
</ul>
