@{
    ViewBag.Title = "% Média de Destruídos p/ Semana";
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable(@(Html.Raw(ViewBag.MediaDestruidosSemanal)));

            var options = {
                title: '% Média de Destruídos p/ Semana',
                hAxis: {gridlines: {count: @ViewBag.QtdeRegistrosEixoXMediaDestruidosSemanal }},
                height: 400,
                chartArea: {width:'75%',height:'80%'},
                legend: {position: 'bottom'},
                trendlines: { 0: {} }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chartMediaDestruidosSemanal'));
            chart.draw(data, options);
        }
    </script>
<div>
    @if (ViewBag.QtdeRegistrosEixoXMediaDestruidosSemanal != 0)
    {
    <div id="chartMediaDestruidosSemanal" style="width: 100%; height: 100%;"></div>
    }
    else
    {
    <h3>
        % Média de Destruídos p/ Semana
        <br />
        Não existem dados para os parâmetros selecionados!
    </h3>
    }
</div>