@using am = MvcAppHylinedoBrasilMobile.Controllers.AccountMobileController;
<h3>@am.GetTextOnLanguage("Confirma a exclusão da Transferência de Ovos entre Empresas ID", Session["language"].ToString()) @Html.Label(Session["IDTransfOvosLinha"].ToString())?</h3>
<p>
    @Html.ActionLink(am.GetTextOnLanguage("Sim", Session["language"].ToString()), "DeleteTransferenciaLinhagemConfirma")
    <br />
    <br />
    @Html.ActionLink(am.GetTextOnLanguage("Não", Session["language"].ToString()), "ListaTransferenciaLinhagens")
</p>