@{
    ViewBag.Title = "ExportPdf";
}

<h2>ExportPdf</h2>

<h2>Print to PDF</h2>
        <p>@Html.ActionLink("Print", "PrintPdf", null,
                    new
                    {
                        @class = "print"
                    })</p>
