<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">CADASTROS</li>
    <li>
        @Html.ActionLink("Requisitos", "ListaRequisitos", "Auditoria",
            null,
            new { @class = "requisito", @title = "Clique aqui para abrir o cadastro de requisitos." })
    </li>
</ul>