@{
    ViewBag.Title = "Sobre";
}

<h2>Sobre Web Mobile Apps:</h2>
<p>
     Desenvolvido por Paulo Alves - Analista de T.I.
     <br />
     Início: 01/10/2015
     <br />
     Versão: 1.0
     <br />
     Todos os direitos reservados.
</p>

@Html.Partial("_NavigationPartial")