<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">CONFIGURAÇÕES</li>
    <li>
        @Html.ActionLink("Lista de Ano Fiscal", "ListaAnoFiscal", "Orcamento",
            null,
            new { @class = "calendar32", @title = "Clique aqui para abrir a lista de ano fiscal" })
    </li>
</ul>