@{
    ViewBag.Title = "";
}

<br />
<h4 style="color:red;">@Html.Raw(ViewBag.Erro)</h4>
<h4 style="color:blue;">@Html.Raw(ViewBag.Mensagem)</h4>

<h1 style="color:red; background-color:Yellow">
        * @Session["msgConfirmaAcao"].ToString()???
</h1>
<br />
@using (Html.BeginForm("ListaSolicitacaoInvestimento", "Orcamento", FormMethod.Post))
{
    <input type="submit" value="Não" />
}

@using (Html.BeginForm(Session["acao"].ToString(), "Orcamento", FormMethod.Post))
{
    <input type="submit" value="Sim" />
}
