@{
    ViewBag.Title = "Realtório Comerciais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Menu")

<h3>Relatórios Comerciais</h3>
<p>
<h4>Selecione uma das opções do menu acima.</h4>
