<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://m.homologacao.hyline.com.br</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://m.homologacao.hyline.com.br</MSDeployServiceURL>
    <DeployIisAppPath>m.homologacao.hyline.com.br</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>hyline\suporte</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LayoutDb" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcAppHylinedoBrasilMobile.Models.LayoutDb, MvcAppHylinedoBrasilMobile" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Apolo10EntitiesService" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=Apolo10;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Apolo10EntitiesService_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.Apolo.ApoloModel.csdl|res://*/Data.Apolo.ApoloModel.ssdl|res://*/Data.Apolo.ApoloModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv-sql;Initial Catalog=Apolo10;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HLBAPPServiceEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=HLBAPP;Persist Security Info=True;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HLBAPPServiceEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.HLBAPP.csdl|res://*/Data.HLBAPP.ssdl|res://*/Data.HLBAPP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv-sql;Initial Catalog=HLBAPP;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApoloServiceEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=Apolo10;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApoloServiceEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.ApoloServiceModel.csdl|res://*/Data.ApoloServiceModel.ssdl|res://*/Data.ApoloServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-sql;initial catalog=Apolo10;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SRV-SGBD-02\SQLEXPRESS;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True;User ID=sa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=SRV-SGBD-02\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User ID=sa" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-MvcAppHylinedoBrasilMobile-20140409131914;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-MvcAppHylinedoBrasilMobile-20140409131914;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString1" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=\\HYLINEBR\Applications\HYLINEDB_PAR\data" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=\\HYLINEBR\Applications\HYLINEDB_PAR\data" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=\\HYLINEBR\Applications\HYLINEDB\data" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=\\HYLINEBR\Applications\HYLINEDB\data" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="bdApoloEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=Apolo10;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\bdApoloEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.bdApolo.bdApoloModel.csdl|res://*/Models.bdApolo.bdApoloModel.ssdl|res://*/Models.bdApolo.bdApoloModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv-sql;Initial Catalog=Apolo10;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HLBAPPEntities1" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=HLBAPP;Persist Security Info=True;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HLBAPPEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.NewFolder1.Model1.csdl|res://*/Models.NewFolder1.Model1.ssdl|res://*/Models.NewFolder1.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv-sql;Initial Catalog=HLBAPP;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Apolo10Entities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=Apolo10;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Apolo10Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.bdApolo2.bdApoloModel2.csdl|res://*/Models.bdApolo2.bdApoloModel2.ssdl|res://*/Models.bdApolo2.bdApoloModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv-sql;Initial Catalog=Apolo10;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HLBAPPEntities" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=HLBAPP;Persist Security Info=True;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HLBAPPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.HLBAPPModel.csdl|res://*/Models.HLBAPPModel.ssdl|res://*/Models.HLBAPPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-sql;initial catalog=HLBAPP;persist security info=True;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApoloEntities" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=Apolo10;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApoloEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Apolo.ApoloModel.csdl|res://*/Models.Apolo.ApoloModel.ssdl|res://*/Models.Apolo.ApoloModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-sql;initial catalog=Apolo10;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="fluigEntities" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=fluig;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\fluigEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Fluig.FluigModel.csdl|res://*/Models.Fluig.FluigModel.ssdl|res://*/Models.Fluig.FluigModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-sql;initial catalog=fluig;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MixEntities" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql;Initial Catalog=Mix;User ID=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MixEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.MIX.MIXModel.csdl|res://*/Models.MIX.MIXModel.ssdl|res://*/Models.MIX.MIXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-sql;initial catalog=Mix;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Oracle" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=brflocks;Persist Security Info=True;User ID=na;Password=brnaps;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Oracle_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=brflocks;Persist Security Info=True;User ID=na;Password=brnaps;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ProceduresApolo" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcAppHylinedoBrasilMobile.Models.ProceduresApolo.ProceduresApolo, MvcAppHylinedoBrasilMobile" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Apolo10Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Apolo10EntitiesService-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApoloEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApoloServiceEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bdApoloEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)fluigEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HLBAPPEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HLBAPPEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HLBAPPServiceEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LayoutDb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MixEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Oracle-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProceduresApolo-Web.config Connection String" />
  </ItemGroup>
</Project>