<ul id="menu2">
    <li>@Html.ActionLink("Download da Planilha p/ Preenchimento", "DownloadPlanilha", "DiarioProducaoOvos")</li>
    <li>@Html.ActionLink("Importa Diário de Produção de Ovos", "Index", "DiarioProducaoOvos")</li>
</ul>