<h2>Produção de Ração</h2>

<ul id="menu2">
    <li>@Html.ActionLink("Importa Fórmula", "Index", "FormulaPPCP")</li>
    @*<li>@Html.ActionLink("Importa Diário Produção - Antigo", "Index", "DiarioProducaoRacao")</li>*@
    <li>@Html.ActionLink("Importa Diário Produção - WEB", "ImportaDiarioPR", "DiarioProducaoRacao")</li>
</ul>

