@using am = MvcAppHylinedoBrasilMobile.Controllers.AccountMobileController;
<h3>@am.GetTextOnLanguage("Confirma a exclusão da Classificação de Ovos Número", Session["language"].ToString()) @Html.Label(Session["numIdentificacaoSelecionado"].ToString())?</h3>
<p>
    @Html.ActionLink(am.GetTextOnLanguage("Sim", Session["language"].ToString()), "DeleteClassificacaoOvoConfirma")
    <br />
    <br />
    @Html.ActionLink(am.GetTextOnLanguage("Não", Session["language"].ToString()), "ListaClassificacaoOvos")
</p>