@{
    ViewBag.Title = "Sobre - Web Apps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sobre Web Apps:</h2>
<p>
     Desenvolvido por Paulo Alves - Analista de T.I. da Hy-Line do Brasil.
     <br />
     Início: 25/10/2012
     <br />
     Versão: 1.0
     <br />
     Todos os direitos reservados.
</p>
