<ul data-role="listview" data-inset="true">
    <li>
        @Html.ActionLink("Voltar para Menu Principal", "Index", "HomeMobile", 
            null,
            new { @title = "Clique aqui para Voltar para o Menu Principal" })
    </li>
</ul>
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">MENU AQO</li>
    @if (MvcAppHylinedoBrasilMobile.Controllers.AccountMobileController
    .GetGroup("HLBAPPM-AQOLista", (System.Collections.ArrayList)Session["Direitos"]))
    {
    <li>@Html.ActionLink("Lista das AQOs", "ListaAQO", "AQO", null, new { @class = "AQO" })</li>
    }
</ul>