<html>
    <head>
        <meta http-equiv="refresh" content="0;@Url.Action(Session["metodoRetorno"].ToString(), "AQO")" />
    </head>
    <body>
        <br />
        <br />
        <br />
        <div align="center">
            <img src="../../Content/icons/ajax-loading.gif" />
        </div>
    </body>
</html>